<div th:fragment="footer">
    <footer class="footer">
        <p>&copy; 2024 Fundación Deportiva Elina Morales. Todos los derechos reservados.</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/share/15WZ8wKSts/" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/fundaciondeportivaelinamorales/" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://wa.me/573022594051" target="_blank" aria-label="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        </div>
    </footer>
</div>
